name: Continuous Integration

on:
  pull_request:
  workflow_dispatch:

jobs:
  common-ci:
    uses: ./.github/workflows/common_ci.yml
    secrets: inherit
    with:
      type_pipeline: 'continuous_integration'

  cancel-previous-run:

    runs-on: ubuntu-18.04

    steps:
    - name: Cancel previous runs
      uses: styfle/cancel-workflow-action@0.9.0
      with:
        access_token: ${{ github.token }}

  test-mutation-diff:

    runs-on: ubuntu-18.04

    steps:
    - name: Project checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - run: docker-compose build test-mutation-diff
    - name: Run mutation test - Changed files in the branch
      run: make test-mutation-diff
      env:
        STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
